<div class="about">
  <h1 class="title">TecBoardとは</h1>
  <p>グループ作成webサイトです。グループのメンバーでチャットや写真投稿ができます。またグループの管理人は掲示板にお知らせを投稿することができます。</p>
  <div class="about-images">
    <%= image_tag "chat.jpg" %>
    <%= image_tag "group.jpg" %>
    <%= image_tag "user.jpg" %>
  </div>
</div>