<div class="top-contents">
  <div class="top-container">
    <div class="top-text">
      <h1>TecBoard<p>へ</p>ようこそ</h1>
      <p>This is sample text. If you want to write here, please edit. Thank you :)</p>
      <p>Later, you have to edit sample text, but you don't have to edit soon.</p>
      <p>It is difficult for me to make Web service with rails,so I study it. :)</p>
      <div class="btn-wrapper">
        <div class="btn1 btn-sign-up"><%= link_to("新規登録はこちら",new_user_path) %></div>
        <div class="btn1 btn-login"><%= link_to("ログインはこちら",login_path) %></div> 
      </div>
    </div>
  </div>
</div>
