<div class="top-contents">
  <div class="top-container">
    <div class="top-text">
      <h1>TecBoardへようこそ</h1>
      <p>This is sample text. If you want to write here, please edit. Thank you :)</p>
      <p>Later, you have to edit sample text, but you don't have to edit soon.</p>
      <p>It is difficult for me to make Web service with rails,so I study it. :)</p>
      <div class="btn-wrapper">
        <div class="btn btn-sign-up"><%= link_to("新規登録はこちら","#") %></div>
        <div class="btn btn-login"><%= link_to("ログインはこちら","#") %></div> 
      </div>
    </div>
  </div>
</div>
<!--
<div class="middle-contents">
  <div class="middle-container">
    <div class="middle-text">
      <h1>使い方</h1>
    </div>
  </div>
</div> -->