<div class="footer-background">
  <div class="footer-container">
    <ul class="footer-right">
      <li><%= link_to("利用規約","/terms") %></li>
      <li><%= link_to("プライバシーポリシー","/policy") %></li>
      <li><%= link_to("お問い合わせ","/contacts/new") %></li>
    </ul>
  </div>
</div>