<div class="header-background">
  <div class="header-container">
    <div class="header-logo">
      <%= link_to("TecBoard","/") %>
    </div>
    <ul class="header-right">
      <li><%= link_to("TecBoardとは", about_path) %></li>
      <li><%= link_to("新規登録",new_user_path) %></li>
      <li><%= link_to("ログイン","#") %></li>
  </div> 
</div>