/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   margin: 0px 0px;
   margin-top: 91px;
 }

  * {
    box-sizing: border-box;
  }

 .title {
   text-align: center;
   font-weight: bold;
 }
 .row {
  margin-right: 0px;
  margin-left: 0px;
}
 .dropdown-menu{

}

 


/************************************ header ********************************************/
@media (min-width: 1001px){ /** pc **/
   .header-right span {
    a {
    display: none;
    } 
  }

    .pc {
      display: inline-block;
    }
}

@media (max-width: 1000px) { /** smart **/
  .header-right span {
    display: inline-block !important;
    float: right;
    margin-top: 15px;
    a {
       font-size: 3em;
       color: white;
       &:active{
         text-decoration: none;
       }
    }
  }
  .pc{
   display: none !important;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0,0.95);
    margin: 0px;
    margin-top: -1px;
    width: 190px;
    left: calc(100% - 190px);
    a {
      color: white !important;
    }
  }
}

.header-background {
  background-color: rgba(0, 0, 0, 1);
  position: Fixed;
    top: 0px;
    left: 0px; 
  width: 100%;
  z-index: 1;
}

.header-container {
  margin: 0px 10px;
}

.header-logo {
  font-size: 25px;
  font-weight: bold;
  height: 91px;
  display: inline-block;
  color: white;
}

.header-logo a {
  text-decoration: none;
  font-size: larger;
  color: white;
  display: inline-block;
  margin-top: 20px;
}



.header-right {
  display: inline-block;
  padding: 8px 0px;
  height: 100%;
  float: right;
}


.header-right a {                /* link_to で作られたものはaタグである */
  transition: all 0.4s;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: large;
  font-weight: bolder;

}

.header-right a:hover{
  opacity: 1;
}


.header-right li {
  display: inline-block;
  float: left;
  list-style: none;
  margin-left: 10px;
  font-size: smaller;
  font-weight: lighter;
  letter-spacing: 1.5px;
  padding: 20px 0;
 }


/************************************* footer **********************************************/

 .footer-background {
   margin-top: 10px;
   border-top: 1px solid lightgray;
   width: 100%;
 }

 .footer-container {
   margin: 0px 12px;
   height: 50px;
 }

 .footer-right {
   float: right;
   padding: 0;
 }

 .footer-right a {
  color: rgb(126, 126, 126);
  text-decoration: none;
 }

 .footer-right a:hover {
   text-decoration: underline;
 }

 .footer-right li {
   list-style: none;
   float: left;
   margin-left: 10px;
 }

/**********************************  flash  *********************************/
 .flash-s {
   background-color: rgb(163, 253, 168);
   width: 80%;
   text-align: center;
   margin: 0 auto;
   margin-top: 70px; 
   border-radius: 5px;
 }
 .flash-s p {
   color: rgba(64, 241, 87, 0.8);
   padding-top: 0.5vh;
   margin: 0;
 }

 .flash-d {
  background-color: rgb(241, 153, 153);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 5px;
}
.flash-d p{
  color: rgba(211, 28, 28, 0.8);
  padding-top: 0.5vh;
  margin: 0;
}

@media (min-width: 670px) {
  .flash-d p{
    font-size: 4vh;
  }
  .flash-s p{
    font-size: 4vh;
  }
}

/************************************  form  **********************************/
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input {
  height: auto !important;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

.checkbox span {
  margin-left: 20px;
  font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*************** bootstrap *********************/

 .btn {
   background-color: rgba(127, 255, 212,0.8);
   border-color: rgb(68, 248, 188);
   &:hover{
    background-color: rgba(127, 255, 212,1);
    border-color: rgb(68,248,188);
   }
 }

