// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************************  index  ***************************/

 .group-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-weight: bolder;
    font-size: 70px;
  }
 }

 .group-btn-wrapper {
   width: 60%;
   margin: 40px auto;
   a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 50px 0px;
    &:hover{
      background-color: rgba(127, 255, 212,1);
      text-align: center;
      color: white;
      text-decoration: none;
    }
  }
 }
 @media(min-width:1450px){
   .group-btn-wrapper {
     width: 780px;
   }
 }
 @media(max-width:1000px){
   .group-btn-wrapper{
     width: 600px;
   }
 }

 @media(max-width:670px){
   .group-btn-wrapper{
     margin: 0px 0px !important;
     display: inline;
   }

   .group-container {
     h1 {
       font-size: 30px;
     }
   }
 }

 .group-btn {
  background-color: rgba(127, 255, 212,0.8);
  border-radius: 15px;
  padding: 20px 40px;
  width: 250px;
  height: 150px;
  display: inline-block;
  margin: 15px 5px;

 }

 .admin-user {
   width: 90%;
   text-align: right;
   margin: 0 auto;
   a {
    border-radius: 5px;
    padding: 8px 15px;
    background-color: aqua;
   }
 }

 .invite{
   margin-left: 25px;
 }

/*********************: member ***************************/

 .members-container {
   width: 95%;
   margin: 0 auto;
   h1 {
     text-align: center;
   }
 }

 .members-name {
   padding: 3px 0;
   border-top: 1px solid lightgray;
 }

 /******************** chat *************************/
 .chat-container {
   width: 50%;
   margin: 0 auto;
 }

 .chat-room {
    margin: 0 auto;
    border: 1px solid black; 
    padding: 10px;
    p { 
      font-size: 15px;
      font-weight: bolder;
      margin: 0;
    }
    span {
      font-size: 5px;
      color: lightgray;
      font-weight: normal;
    }
    .me {
      display: block;
      text-align: right;
      padding: 2px 0;
    }
    .name {
      font-size: 7px;
      color: black;
    }
  }

  @media(max-width:670px){
    .chat-container{
      width: 90%;
    }
  }

/********** invited *******************/
.text-invite {
  text-align: center;
}