// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************  about *******************/
.about {
  background-color: rgba(115, 248, 241,0.8);
  padding: 20px 0px;
  margin: 0px 5px;
  margin-top: 120px;
  border-radius: 7px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  img{
    width: 30%;
    height: 10%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  }
  .about-images {
    display: inline-block;
  }
}
  
/******************************************* top *************************************************/
 .top-contents{
   width: 100%;
   height: 900px;
   background-image: image_url("blue.jpg");
   background-size: cover;
 }
 
 .top-container {
   margin: 0px 12px;
 }

 .top-text  {
   color: white;
   padding-top: 100px;
 }

 .top-text h1 {
   margin: 0px 0px;
   font-size: 80px;
   text-align: center;
 }
 @media (max-width: 1000px) {
   .top-text h1{
     text-align: left;
   }
 }

 .top-text p {
   text-align: center;
 }

 .btn-wrapper {
   margin-top: 50px;
   text-align: center;
 }

 .btn1 {
   background-color: rgba(119, 250, 206,0.8);
   display: inline-block;
   text-align: center;
   border-radius: 7px;
   height: 50px;
   margin: 10px 10px;
 }

 .btn1 a {
   display: inline-block;
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 30px;
 }

 .btn1:hover {
   background-color: rgba(119, 250, 206,1);
 }
 .btn1 a:hover{
  color: white;
  text-decoration: none;
 }


 /************************************* terms_of_service ***********************************************/
 .terms_of_service {
   width: 95%;
   margin: 0 auto;
   background-color: rgba(164, 235, 211,0.4);
   border-radius: 12px;
   border: 2px solid rgb(137, 250, 212);
   margin-bottom: 40px;
   margin-top: 111px;
   box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
 }

 .policy {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(164, 235, 211,0.4);
  border-radius: 12px;
  border: 2px solid rgb(137, 250, 212);
  margin-bottom: 40px;
  margin-top: 111px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
}