// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*************************  new  **************************//

.errors{
  list-style: none;
  color: red;
  text-align: center;
}

.error-alert {
  background-color: rgb(241, 173, 173);
  height: 50px;
  font-size: 30px;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(119, 37, 37);
}

/************************** index ************************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

/*************************** my-profile *********************/
.profile-contents {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  p{
    font-weight: bold;
    font-size: 40px;
  }
}

.profile-contents img {
  margin-top: 50px;
}

.btn2 {
  display: inline-block;
  padding: 20px 50px;
  background-color: rgba(127, 252, 210, 0.8);
  border-radius: 8px;
  width: 20%;
  margin: 20px 10px;
}

.prof-btn-wrapper a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.prof-btn-wrapper a:hover{
  background-color: rgba(127, 252, 210, 1);
  color: white;
  text-decoration: none;
}

.my-groups {
  font-size: 40px;
  text-align: left;
  h1{
    font-weight: bold;
  }
}

.group-name {
  display: block;
  padding: 10px 5px;
  text-align: left;
  span {
    border: 2px solid black;
    font-size: 5px;
  }
}