// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*************************  new  **************************//

.errors{
  list-style: none;
  color: red;
  text-align: center;
}

.error-alert {
  background-color: rgb(241, 173, 173);
  height: 50px;
  font-size: 30px;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(119, 37, 37);
}

/************************** index ************************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}