<h1 class="title">招待コード入力</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:invite, url: '/groups/permission' ) do |f| %>
      <%= f.label :invitation_code, "招待コード" %>
      <%= f.text_field :invitation_code %>
      <%= f.submit "申請する" , class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
<p class="text-invite">*招待コードはグループの管理人にお問い合わせください.</p>
