<div class="members-container">
  <h1><%= @group.name %>のメンバー</h1>
  <% @members.each do |member| %>
    <div class="members-name">
      <%= image_tag "/user_images/#{member.image_name}", :size => '100x100' %>
      <%= link_to("#{member.name}","/users/#{member.id}") %>
    </div>
  <% end %>
</div>