<div class="board-content">
  <h1><%= @board.title %></h1>
  <p><%= simple_format(@board.content) %></p><!-- 改行を出力する為 -->
  <div class="board-update"><%= @board.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
</div>